* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cyan;
  /* cyan is my Favourite color.. */
}

.container-div {
  display: flex;
  width: 60%;
  max-width: 1200px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image-section {
  flex: 1;
  /* is ka matlb flex 1 wale boxes ka size equal hoga. */
  position: relative;
}
/* normal position ke basis par set karna, aur phir top, right, bottom, ya left properties ka use karke us position ko adjust karna */
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* puri width aur puri height */
.image-section p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: rgba(57, 154, 9, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.form-section {
  flex: 1;
  padding: 40px;
}

.form-section h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  text-decoration: underline;
  /* is se neeche line aayegi Registrtaion ke... */
}

form .form-row {
  
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    gap: 20px; 
    /* space add krne ke liye gap */
  
}

form input, form select {
  /* form input me form select ka use */
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

form input:focus, form select:focus {
  border-color: #333;
}

form i {
  position: absolute;
  right: 15px;
  color: black;
}
/* btn ko shi se lagna */
.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition:background0.3s;
}

.register-btn:hover {
  background-color: #333;
}
/* ek halka se black color ka hovr effct */
