/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: #FFE8D6; */

}
#navbar{
    line-height: 2rem;
    background-color: #A5A58D;
    border-radius: 6px;
    display:flex;
    padding:20px;
    justify-content: space-between;


}

#itemCatogery{
    display:flex;
    margin-left:20px;
    margin-right:20px;
   
    
}
.catogery{
    height:200px;
    width:200px;
    border:2px solid black;
    border-radius:50%;
    /* background-color: red; */
    margin:20px;
   
}
.catogery img{
    object-fit: cover;
    object-position: center;

}