*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color: #FFE8D6; */

}
/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */


body {
  min-height:400vh ;
  background-color: #FFE8D6;
}
.header {
  line-height: 50px;
  background: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  background-color: #6B705C;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}
.search-div {
  flex: 1;
  margin: 0 20px;
  display: flex;
  align-items: center;
  background-color: A5A58D;
}
.search-div input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-div button {
  background: orange;
  border: none;
  padding: 8px 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar {
  width: 250px;
  background:#CB997E;
  color: white;
  padding: 15px;
  position: absolute;
  left: 0;
  top: 90px;
  height: 70vh;
  border-radius: 6px;
  
}
.logo-div img {
  height: 50px;
  width:140px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}
.sidebar ul li:hover {
  background: #006666;
}
.main-content {
  margin-left: 270px;
  padding: 20px;
}
.banner img {
  width: 100%;
  height: 70vh;
  border-radius: 10px;
}
.banner{
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  border: 3px solid #24262b;
}
/* circle Div */
.itemCatogery{
  display:flex;
  margin-left:20px;
  margin-right:20px;
 
  
}
.catogery{
  height:200px;
  width:200px;
  border:2px solid black;
  border-radius:50%;
  /* background-color: red; */
  margin:20px;
 
}
.catogery img{
  object-fit: cover;
  object-position: center;
  height:200px;
  width:200px;
  border-radius:50%;
}
.catogery button{
  object-fit: cover;
  object-position: center;
  justify-items: center;
  border-radius:50%;
}
/* new Arrivals */
.newArrivals {
  display: flex;
}

.arrivals {
  height: 200px;
  width: 28rem;
  border-radius: 6px;
  border: 2px solid black;
  margin: 20px;
  overflow: hidden; /* Ensure image stays within div */
}

.arrivals img {
  height: 100%;  /* Match parent div height */
  width: 100%;   /* Match parent div width */
  object-fit: cover; 
  object-position: center;
}

.newArrivals2 {
  display: flex;
}

.arrivals2 {
  height: 200px;
  width: 98rem;
  border-radius: 6px;
  border: 2px solid black;
  margin: 20px;
  overflow: hidden; /* Ensure image stays within div */
}

.arrivals2 img {
  height:100%;  /* Match parent div height */
  width: 100%;   /* Match parent div width */
  object-fit: cover; 
  object-position: center;
}


/* All Product Divs */
.product-container{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  max-width: 100%;
  white-space: nowrap;
  
}
.product-container::-webkit-scrollbar {
  display:none;
}

.product-card {
  
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
  flex: 0 0 auto;
}
.product-card img {
  width: 100%;
  border-radius: 10px;
}
.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.price {
  font-size: 18px;
  color: #333;
  font-size: bold;
}
.product-rating {
  font-size: 18px;
  color: red;
 
}
.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 15px;
}
/* Add to Cart btn */
.btn{
  font-size: 15px;
  margin:10px;
  height:2rem;
  width:6rem;
  background-color: cyan;
  color:black;
  border-radius:10px;
  align-items: center;
  font-weight: bold;
 
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.416);
  cursor: pointer;
} 
.wishlist-icon {
  float: right;
  margin-top:12px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
  text-shadow: #333;
  /* background-color: #fdbc00; */

}
.wishlist-icon:hover {
  color: red;
}
/* SPONSERSHIP */
.supornship{
  height: 26rem;
  width:100%;
  /* border: 2px solid black; */
  display: flex;
  margin:auto;


}
.supornsers{
  height: 25rem;
  width:20rem;
  border: 2px solid black;
  margin:auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
 
 
 
}

.supornsers img {
  height:100%;  /* Match parent div height */
  width: 100%;   /* Match parent div width */
  object-fit: cover; 
  object-position: center;
}








/* Footer of the Website */
footer-container{
  width:100%;
 
} 

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 50px 10px;
    width:100%;
    border-radius: 6px;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsiveness*/
@media(max-width: 407px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.searchResult{
  height: 10rem;
  width: 7.5rem;
}
.searchResult{
  align-items: center;
}